<div class="page-header">
  <%= link_to new_shared_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Shared plan
  <% end %>
  <h1>Listing shared_plans</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Plan</th>
    
        <th>User</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @shared_plans) do |shared_plan| %>
    
        <td><%= shared_plan.plan %></td>
    
        <td><%= shared_plan.user %></td>
    
        <td><%= link_to 'Show', shared_plan %></td>
        <td><%= link_to 'Edit', edit_shared_plan_path(shared_plan) %></td>
        <td><%= link_to 'Destroy', shared_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
