<div class="page-header">
  <h1 class="chalk">Acerca de nosotros</h1>
</div>
<p class="chalk">Creado el año 20127 para el ramo Desarrollo de Software de la Escuela de Ingeniería
 de la Pontificia Universidad Católica, Planificación Eficiente busca proveer a los profesores
 escolares del país con una herramienta poderoea, versátil e intuitiva para organizar los
 currículums escolares de acuerdo a las indicaciones otorgadas por el Ministerio de Educación.</p>


<a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>

<!--
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <li>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  </li>
  <li>
  <%= current_user.role %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Sign in', new_user_session_path)  %>
  </li>
<% end %>
-->
