
<div class="page-header">
  <h1 class="chalk">Planificación Eficiente</h1>
</div>


<%if !user_signed_in?%>
  <p class="chalk"> Bienvenido a Planificación Eficiente, la aplicación para crear,
  manejar y compartir tus planes curriculares para enseñanza básica y media.</p>
  <br/>
  <p class="chalk"> Con Planificación Eficiente, organizar el semestre de tus alumnos
  es más fácil y rápido que nunca.<a class="chalk" href="users/sign_up">¡Pruébalo hoy!</a>.</p>
  <br/>
  <!--
  <p> <%= link_to "¿No estas registrado? ¡Crea tu cuenta ahora!", new_user_registration_path %></p>
  <p> <%= link_to "¿Ya tienes tu cuenta? ¡Ingresa y comienza a crear!", new_user_session_path %></p>
-->
<%else%>
  <div class="right">
    <p class="chalk"> Comienza a planificar.</p>
    <p class="chalk"> <%= link_to "Crear un plan anual", new_plan_path , class: "chalk" %></p>
    <p class="chalk"> <%= link_to "Crear una unidad didáctica", new_unit_plan_path, class: "chalk" %></p>
  </div>
<%end%>
<!--
<p> <%= link_to "Unit plans!", unit_plans_path %></p>
<p> <%= link_to "Previous learnings!", previous_learnings_path %></p>
<p> <%= link_to "Plans!", plans_path %></p>
<p> <%= link_to "Learning objectives!", learning_objectives_path %></p>
<p> <%= link_to "Abilities!", abilities_path %></p>
<p> <%= link_to "Attitudes!", attitudes_path %></p>
<p> <%= link_to "Feedbacks!", feedbacks_path %></p>
-->
