<div class="page-header">
  <h1>Welcome!</h1>
</div>
<p> <%= link_to "Unit plans!", unit_plans_path %></p>
<p> <%= link_to "Previous learnings!", previous_learnings_path %></p>
<p> <%= link_to "Plans!", plans_path %></p>
<p> <%= link_to "Learning objectives!", learning_objectives_path %></p>
<p> <%= link_to "Abilities!", abilities_path %></p>
<p> <%= link_to "Attitudes!", attitudes_path %></p>
<p> <%= link_to "Feedbacks!", feedbacks_path %></p>

