<div class="page-header">
  <%= link_to new_unit_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Unidad Didácticas
  <% end %>
  <h1>Unidades Didácticas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Título</th>
            <th>Total horas</th>
            <th>Objetivo</th>

      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @unit_plans) do |unit_plan| %>
            <td><%= link_to unit_plan.title, unit_plan %></td>
            <td><%= unit_plan.total_hours_unit %></td>
            <td><%= unit_plan.objective %></td>
        <td><%= link_to 'Eliminar', unit_plan, method: :delete, :class => 'btn btn-info', data: { confirm: '¿Estás seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
