<h2 class="chalk">Registro</h2>

<%= form_for(resource, as: resource_name, html: { class: "form-horizontal"} ,url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'chalk col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :rol,class: 'chalk col-sm-2 control-label'%>
    <div class="col-sm-5">
    <%= f.select(:role, options_for_select([["Admin","admin"],
      ["Profesor","teacher"],["Jefe de Unidad","unit_head"]]),{}, { :class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contraseña, class: 'chalk col-sm-2 control-label' %>
    <% if @minimum_password_length %>
    <% end %>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :confirmar_contraseña, class: 'chalk col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
      <%= f.submit "Registrar", class: 'btn btn-primary border' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
