<h2 class="chalk">Ingresar</h2>

<%= form_for(resource, html: { class: "form-horizontal"},  as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email , class: 'chalk col-sm-2 control-label'%>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contraseña, class: 'chalk col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.label :recuerdame, class: 'chalk col-sm-2 control-label' %>
      <div class="col-sm-5 offset">
        <%= f.check_box :remember_me, class: 'form-control' %>
      </div>
    </div>
  <% end -%>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Ingresar", class: 'btn btn-primary border' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
