<%= form_for(@plan, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @plan.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h4>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class= "plan_form">
    <tr>
      <td class="fila_celeste">Planificación Anual</td>
    </tr>

    <tr>
      <td class="celda_fila_2">Asignatura:  <%= f.select :subject, @subjects %></td>
      <td class="celda_fila_2" id="celda_2_2">Nivel:<%= f.select :grade, @grades %></td>
      <td class="celda_fila_2">Total Horas:<%= f.number_field :total_hours, min: 0%></td>
    </tr>

    <tr>
      <td class="fila_celeste" id="primer_semestre">Primer Semestre</td>
      <td class="fila_celeste" id="segundo_semestre">Segundo Semestre</td>
    </tr>

    <tr>
      <td class="unidad">Unidad 1 <%= f.select :unit_plans, @unit_plans %> </td>
      <td class="unidad">Unidad 2 <%= f.select :unit_plans, @unit_plans %></td>
      <td class="unidad">Unidad 3 <%= f.select :unit_plans, @unit_plans %></td>
      <td class="unidad">Unidad 4 <%= f.select :unit_plans, @unit_plans %></td>
    </tr>

    <tr>
      <td class="fila_celeste">Objetivos de Aprendizaje (OA)</td>
    </tr>


    <tr>
      <td class="habilidades">Habilidades</td>
      <td class="eje_tematico">Eje temático 1</br>Eje temático 2</br>Eje temático 3</td>
      <td class="habilidades">Habilidades</td>
      <td class="eje_tematico">Eje temático 1</br>Eje temático 2</br>Eje temático 3</td>
      <td class="habilidades">Habilidades</td>
      <td class="eje_tematico">Eje temático 1</br>Eje temático 2</br>Eje temático 3</td>
      <td class="habilidades">Habilidades</td>
      <td class="eje_tematico">Eje temático 1</br>Eje temático 2</br>Eje temático 3</td>
    </tr>

    <tr>
      <td class="fila_celeste">Actitudes de la asignatura (derivado de los OAT)</td>
    </tr>

    <tr>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio_derecha"></td>
    </tr>

    <tr>
      <td class="fila_celeste">Contenidos</td>
    </tr>

    <tr>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio_derecha"></td>
    </tr>

    <tr>
      <td class="fila_celeste">Semanas estimadas</td>
    </tr>

    <tr>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio"></td>
      <td class="espacio_vacio_derecha"></td>
    </tr>

  </table>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Crear', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
