<div class="page-header">
  <%= link_to plans_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_plan_path(@plan), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>

  <h1>Plan</h1>
</div>

<table class= "plan_form">
  <tr>
    <td class="fila_celeste">Planificación Anual</td>
  </tr>

  <tr>
    <td class="celda_fila_2">Asignatura:<%= @plan.subject %></td>
    <td class="celda_fila_2" id="celda_2_2">Nivel:<%= @plan.grade %></td>
    <td class="celda_fila_2">Total Horas:<%= @plan.total_hours%></td>
  </tr>

  <tr>
    <td class="fila_celeste" id="primer_semestre">Primer Semestre</td>
    <td class="fila_celeste" id="segundo_semestre">Segundo Semestre</td>
  </tr>


</table>

<% @unit_plans.each do |unit_plan| %>
  <div class="unidad">
    <%=unit_plan.title%>

    <table class="tabla_unidad">

      <tr>
        <td class="fila_celeste">Objetivos de aprendizaje</td>
      </tr>

      <tr>
        <td class="habilidades_plan">
          Habilidades:</br>
          <% unit_plan.abilities.each do |ability| %>
            <%= ability.name %></br>
          <%end%>
        </td>

        <td class="ejes_tematicos_plan">
          Ejes temáticos:</br>
          <% unit_plan.learning_objectives.each do |learning_objective| %>
            <%= learning_objective.name %></br>
          <%end%>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Actitudes de la asignatura</td>
      </tr>

      <tr>
        <td class="actitudes_plan">
          <% unit_plan.attitudes.each do |attitude| %>
            <%= attitude.name %></br>
          <%end%>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Contenidos</td>
      </tr>

      <tr>
        <td class="contenidos_plan">
            Rellenar aqui</br>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Semanas estimadas</td>
      </tr>

      <tr>
        <td class="semanas_plan">
          Rellenar aqui</br>
        </td>
      </tr>

    </table>

  </div>
<%end%>

<%= link_to "Descargar PDF",
  plan_path(@plan, format: "pdf"),
  target: "_blank",
  class: "download" %>
