<div class="page-header">
  <%= link_to plans_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_plan_path(@plan), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>

  <h1>Plan</h1>
</div>

<table class= "plan_form">
  <tr>
    <td class="fila_celeste">Planificaci칩n Anual</td>
  </tr>

  <tr>
    <td class="celda_fila_2">Asignatura:<%= @plan.subject %></td>
    <td class="celda_fila_2" id="celda_2_2">Nivel:<%= @plan.grade %></td>
    <td class="celda_fila_2">Total Horas:<%= @plan.total_hours%></td>
  </tr>

  <tr>
    <td class="fila_celeste" id="primer_semestre">Primer Semestre</td>
    <td class="fila_celeste" id="segundo_semestre">Segundo Semestre</td>
  </tr>

  <tr>
    <td class="unidad">Unidad 1 (Nombre)</td>
    <td class="unidad">Unidad 2 (Nombre)</td>
    <td class="unidad">Unidad 3 (Nombre)</td>
    <td class="unidad">Unidad 4 (Nombre)</td>
  </tr>

  <tr>
    <td class="fila_celeste">Objetivos de Aprendizaje (OA)</td>
  </tr>


  <tr>
    <td>Habilidades</td>
    <td>Eje tem치tico 1</td>
    <td>Eje tem치tico 2</td>
    <td>Eje tem치tico 3</td>
    <td>Habilidades</td>
  </tr>

  <tr>
    <td class="fila_celeste">Actitudes de la asignatura (derivado de los OAT)</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="fila_celeste">Contenidos</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="fila_celeste">Semanas estimadas</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>

<%= link_to "Descargar PDF",
  plan_path(@plan, format: "pdf"),
  target: "_blank",
  class: "download" %>
