<%= form_for(@unit_plan, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @unit_plan.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@unit_plan.errors.count, "error") %> prohibited this unit_plan from being saved:</h4>

      <ul>
      <% @unit_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title,'Título',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total_hours_unit,'Total horas',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :total_hours_unit, min: 0,class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :previous_learnings,'Aprendizaje anterior',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="" style="margin-top:7px;">
        <label id="prev-learning-label" style="padding-right:50px">Values</label>
      </div>
      <div class=>
        <input id="prev-learning-add" type=text  style="width:30%;"class="form-control" placeholder="Agregar conocimiento previo">
        <a   onClick="a_onClick()" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :previous_learnings,'Aprendizaje anterior',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :previous_learnings, @previous_learnings, :id , :title %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :abilities,'Habilidades',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :abilities, @abilities, :id , :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :learning_objectives,'Objetivos de aprendizaje - Ejes' ,class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :learning_objectives, @learning_objectives, :id , :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :attitudes,'Actitudes',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :attitudes, @attitudes, :id , :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :objective,'Objetivo',class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :objective, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Crear',class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function() {
  });
  function a_onClick() {
    var new_val = $('#prev-learning-add').val();
    if(new_val != ""){

      var vals = $('#prev-learning-label').text();
      var sep = ", "
      if(vals == "Values") {
        $('#prev-learning-label').text(" ");
        var vals = ""
        var sep = ""
      }
      $('#prev-learning-label').text(vals  + sep + new_val);
      $('#prev-learning-add').val("");
    }
    else {
      alert("El campo no puede ser vacio");
    }
  }
 </script>
