<div class="page-header">
  <%= link_to new_previous_learning_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Previous learning
  <% end %>
  <h1>Listing previous_learnings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Content</th>
            <th>Generic activity</th>
            <th>Achievement indicator</th>
            <th>Estimated time</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @previous_learnings) do |previous_learning| %>
            <td><%= previous_learning.content %></td>
            <td><%= previous_learning.generic_activity %></td>
            <td><%= previous_learning.achievement_indicator %></td>
            <td><%= previous_learning.estimated_time %></td>
            <td><%= link_to 'Show', previous_learning %></td>
        <td><%= link_to 'Edit', edit_previous_learning_path(previous_learning) %></td>
        <td><%= link_to 'Destroy', previous_learning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
