<div class="page-header">
  <%= link_to new_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Planificación
  <% end %>
  <h1>Planificaciones Anuales</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Año</th>
            <th>Total horas</th>

  
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @plans) do |plan| %>
            <td><%= plan.grade %></td>
            <td><%= plan.subject %></td>
            <td><%= plan.year %></td>
            <td><%= plan.total_hours %></td>
            <td><%= link_to 'Ver', plan %></td>
        <td><%= link_to 'Editar', edit_plan_path(plan) %></td>
        <td><%= link_to 'Eliminar', plan, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
