<style>
  .nav{
    display: none;
  }
  .download{
    display: none;
  }
</style>
<h1>Plan</h1>
</br>
<table class= "plan_form">
  <tr>
    <td class="fila_celeste">Planificación Anual</td>
  </tr>

  <tr>
    <td class="celda_fila_2">Asignatura:<%= @plan.subject %></td>
    <td class="celda_fila_2" id="celda_2_2">Nivel:<%= @plan.grade %></td>
    <td class="celda_fila_2">Total Horas:<%= @plan.total_hours%></td>
  </tr>

  <tr>
    <td class="fila_celeste" id="primer_semestre">Primer Semestre</td>
    <td class="fila_celeste" id="segundo_semestre">Segundo Semestre</td>
  </tr>


</table>

<% @unit_plans.each do |unit_plan| %>
  <div class="unidad">
    <%=unit_plan.title%>

    <table class="tabla_unidad">

      <tr>
        <td class="fila_celeste">Objetivos de aprendizaje</td>
      </tr>

      <tr>
        <td class="habilidades_plan">
          <span class="bold">Habilidades:</span></br>
          <% unit_plan.abilities.each do |ability| %>
            <%= ability.name %></br>
          <%end%>
        </td>

        <td class="ejes_tematicos_plan">
          <span class="bold">Ejes temáticos:</span></br>
          <% unit_plan.learning_objectives.each do |learning_objective| %>
            <%= learning_objective.name %></br>
          <%end%>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Actitudes de la asignatura</td>
      </tr>

      <tr>
        <td class="actitudes_plan">
          <% unit_plan.attitudes.each do |attitude| %>
            <%= attitude.name %></br>
          <%end%>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Contenidos</td>
      </tr>

      <tr>
        <td class="contenidos_plan">
          <% unit_plan.previous_learnings.each do |previous_learning| %>
            <%= previous_learning.content %></br>
          <%end%>
        </td>
      </tr>

      <tr>
        <td class="fila_celeste">Horas estimadas</td>
      </tr>

      <tr>
        <td class="semanas_plan">
          <% @estimated_time = 0 %>
          <% unit_plan.previous_learnings.each do |previous_learning| %>
            <% @estimated_time += previous_learning.estimated_time %>
          <% end %>
          <%= @estimated_time %>
        </td>
      </tr>

    </table>

  </div>
<%end%>
